@import "../css/components/root.css";
@import "../css/components/mainLayout.css";
@import "../css/components/mainMenu.css";

main {
    background-color : whitesmoke;
    width: 100;
    height: 100vh;
}

.categoryLabel {
    margin-top: 20px;
    display: block;
    border: 1px solid var(--blue-color);
    background-color: white;
    padding: 10px;
    font-size: 20px;
    color: var(--blue-color);
}

.categoryBtn {
    text-align: right;
}

.categoryBtn > input[type="button"] {
    padding: 5px 20px;
    margin-top: 10px;
}

.category {
    border: 1px solid gray;
    padding: 10px;
    margin-top: 10px;
}

.categoryShow {
    height: 20%;
}
