@import "../css/components/root.css";
@import "../css/components/mainLayout.css";
@import "../css/components/mainMenu.css";

main {
    background-color : whitesmoke;
    width: 100;
    height: 100vh;
}